.contacts {
    align-items: center;
}

.contacts__icon {
    width: 16px;
    height: 16px;
    fill: $primary-color;
    margin-right: 10px;
    transition: $transition;
}

.contacts__item {
    color: $primary-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    margin-left: 30px;
    @include flex-center;
    transition: color $transition
        fill $transition;


    &:hover,
    &:focus {
    color: $specific-color;
}

    &:hover .contacts__icon,
    &:focus .contacts__icon {
    fill: $specific-color;
}}