.features__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features__icon {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
}

.features__title {
    font-size: 14px;
    line-height: 1.14;
    margin-top: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;
    @media (max-width: 480px) {
        text-align: center;
    }
}

.features__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

@media (min-width: 1201px) {
    .features {
        // margin-bottom: 94px;

        &__card {
            width: 270px;
        }

         &__icon {
             padding: 25px 100px;
         }
    }}

@media (min-width: 481px) and (max-width: 1200px) {
    .features {
        &__card {
            width: calc(50% - 15px);
            margin-bottom: 30px;
        }

        &__icon {
            width: 100%;
        padding: 25px 0;}
            

        &__text {
            max-width: 354px;
        }
    }}
    @media (max-width: 480px) {
        .features {
            &__card {
                width: 100%;
                margin-bottom: 30px;
            }
    
            &__icon {
                width: 100%;
            padding: 25px 0;
            }
        }
}