.nav {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 16px;
}

.nav__box {
    margin-left: 93px;
}

.nav__item {
    position: relative;
    margin: 0 50px 0 0;
    padding: 0;
}

.nav__link {
    color: $title-color;
    text-decoration: none;
    transition: $transition;

&--selected::after {
    content: "";
    position: absolute;
    bottom: -33px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $specific-color;
    border-radius: 2px;
}



    &:hover,
    &:focus {
    color: $specific-color;
}}