.section--background {
    background-color: $specific-bg-color;
}

.team {
    color: $title-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.team__card {
    box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
        0px 1px 3px 0px #0000001f;
}

.team__content {
    background-color: $accent-color;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__name {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.team__profession {
    color: $primary-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}